In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random as rnd
import os

## Single variable logistic regression 
## y = 5x+ 2

In [4]:
y = []
x = []

for i in range(0, 500):
    x_inp = rnd.randint(1, 100)
    y_inp = 5*x_inp + 2
    
    if x_inp not in x and y_inp not in y:
        y.append(y_inp)
        x.append(x_inp)

data = {'tedad': x, 'ghymat': y}    
df = pd.DataFrame(data)   
print(df)

    tedad  ghymat
0      42     212
1      84     422
2      50     252
3      77     387
4      69     347
..    ...     ...
95     29     147
96      7      37
97     35     177
98     33     167
99     21     107

[100 rows x 2 columns]

In [10]:
if os.path.exists("LinearReg_2.csv"):
  os.remove("LinearReg_2.csv")
df.to_csv('LinearReg_2.csv', index=False)

In [11]:
df_2 = pd.read_csv('LinearReg.csv')

In [12]:
df.head()

   tedad  ghymat
0     42     212
1     84     422
2     50     252
3     77     387
4     69     347

In [13]:
X = df_2[['tedad']]
y = df_2[['ghymat']]

In [14]:
X

     tedad
0      370
1       78
2      258
3      151
4      256
..     ...
294     94
295     29
296    250
297     41
298    427

[299 rows x 1 columns]

In [15]:
y

          ghymat
0    1852.234163
1     391.058907
2    1290.660597
3     755.182388
4    1282.268559
..           ...
294   472.278448
295   146.861635
296  1252.313183
297   204.377803
298  2136.945318

[299 rows x 1 columns]

In [16]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [17]:
X_train, X_test , y_train , y_test = train_test_split(X,y,test_size=0.25,random_state=26)

In [18]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [19]:
predictions=regressor.predict(X_test)
print(X_test)

     tedad
212    404
72     379
172     90
136    392
135    468
..     ...
127     53
298    427
81      60
87     201
256    251

[75 rows x 1 columns]

In [20]:
X_test

     tedad
212    404
72     379
172     90
136    392
135    468
..     ...
127     53
298    427
81      60
87     201
256    251

[75 rows x 1 columns]

In [21]:
predictions[0]

array([2022.06457398])

In [22]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 0.8028956366808712
Mean Squared Error: 0.9704384585213837
Root Mean Squared Error: 0.9851083486202843

In [23]:
pred=regressor.predict([[1001]])
print(pred)

[[5007.43860643]]